/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Configuração das cores-base do layout */
:root {
  /* Ajuste de unidade pra acessibilidade */
  font-size: 62.5%;
  --hue: 240;
  --hue-green: 195;
  --color-base-white: hsl(0, 0%, 100%);
  --color-base-fake-white:hsl(196, 100%, 98%);
  --color-base-grey-500: hsla(0, 0%, 100%, 0.2);
  --color-base-grey-800: hsl(var(--hue), 6%, 13%);
  --color-base-grey-900: hsl(var(--hue), 5%, 7%);
  --color-base-green-700: hsl(var(--hue-green), 91%, 25%);
  --color-base-green-500: hsl(var(--hue-green), 46%, 40%);
}

/* Configuração da fonte da página */
html,body,input {
  font-family: 'Mulish', sans-serif;
}

/* Configuração da página */
body {
  /* Ajuste de unidade pra acessibilidade */
  font-size: 1.6rem;
  background: var(--color-base-fake-white);
  color: var(--color-base-grey-900);
  
  width: 43rem;
  height: 194.5rem;
}

/* Configuração do cabeçalho */
header {
  
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 83.5rem;
  height: 7.2rem;
  padding: 1.2rem 4.8rem;
  
  gap: 2.55rem;
  
  flex-shrink: 0;
  background: var(--color-base-green-700);

}    

/* Configuração da logomarca */
nav {
  display: flex;
  flex-direction: column;
  height: 4.0rem;
  width: 4.0rem;
  background-color: #F4FCFF;
  border-radius: 50%;
  padding: .8rem;
}

/* Configuração do campo de pesquisa */
.input-wrapper input {
  width: 100% 214px;
  display: flex;
  flex: 1 0 0;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  align-items: center;
  gap: 1.2rem;
  border-radius: .4rem;
  background-color: var(--color-base-green-500);
  border: none;  
}

/* Configuração do conteúdo do campo de pesquisa */
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  display: flex;
}


.input-wrapper input::placeholder {
  color: var(--color-base-white);
  font-weight: 600;
}

/* Configuração da foto de perfil do usuário */
.avatar {
  height: 4.2rem;
  width: 4.2rem;
  object-fit: cover;
  border-radius: 50%; 
  
}


/* Configuração da question box */
.container  h1 {
  margin-top: 3.1rem;
  width: 49.9rem;
 display: flex;
 flex-direction: column;
  
}

/* Configuração da question */
h1 {
  color: var(--color-base-grey-800);
  font-weight: 700;
  
  font-size: 24px;

  margin-left: 2.6rem;
  margin-bottom: .8rem;
}

/* Configuração da imagem do gato */
.cat {
  width: 43.4rem;
  height: 21.9rem;
  flex-shrink: 0;
  border-radius: .5rem ;
}


/* Button like config */
.like-button {
  border: none;
  object-fit: cover;
  background: none;
  margin-left: 2.6rem;
  display: inline-flex;
  flex-direction: column;
}

/* Button dislike config */
.dislike-button {
  margin-left: 1.2rem; 
  object-fit: cover;
  border: none;
  margin-bottom: 3.1rem;
  background: none;
  display: inline-flex;
  flex-direction: column;
}

/* Configuração do parágrafo principal */
main p {
 font-size: 16px;
 font-weight: 400;
 line-height: 160%;
 margin-left: 2.6rem;
 margin-bottom: 3.4rem;
}


.container-2 {
  width: 38.4rem;
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;


}

/* Título dos artigos */
.container-2 h2 {
  color: var(--color-base-grey-800);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%; 
  gap: 3.2rem;
  margin-bottom: 3.2rem;
  margin-left: 2.6rem;
  max-width: 384px;
}

/* Configuração da galeria" */
.gallery-1, .gallery-2, .gallery-3, .gallery-4, .gallery-5 {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
  margin-left: 2.6rem;
}

/* Configuração das imagens */
.item {
  width: 15.1rem;
  height: 8.4rem;
  border-radius: .5rem;
}

/* Configuração dos subtítulos */
.details h3 {
  color: var(--color-base-grey-800);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 160%;
}

/* Configuração dos parágrafos */
.details p {
  color: var(--color-base-grey-900);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 160%; 
  width: 21.5rem;
}

/* Configuração do rodapé */
footer {
  display: flex;
  width: 43.0rem;
  height: 6.4rem;
  padding: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.0rem;
  flex-shrink: 0;
  background: #387E96;
}

/* Configuração do conteúdo do rodapé */
footer p {
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

/* -- Configuração do Layout para Desktop -- */


/* Configuração do media queries */
@media (min-width: 768px) {

  /* Configuração da página */
  body  {
    height: auto;
    width: auto;
  }

  /* Configuração do cabeçalho */
  header {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1.2rem 4.8rem;
    gap: 2.55rem;
  }

 /* Configuração da logomarca */
  nav {
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 50%;
    padding: .8rem;
  }

 /* Configuração do campo de pesquisa */
  .input-wrapper {
    flex: 1;
  }

  .input-wrapper input {
    width: 100%;
    min-width: 1083px; /* Largura mínima desejada para desktop */
  }
  
 /* Configuração da foto de perfil do usuário */
  .avatar {
    height: 4.2rem;
    width: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
 }

 /* Configuração da imagem do gato dentro da media query */
 .cat {
  width: 80.3rem;
  height: 40.5rem;
 flex-shrink: 0;
 border-radius: 5px;
 margin-left: 10.9rem;
 margin-top: 4.4rem;
}
  
  /* Configuração da question box */
  .container h1 {
    display: inline-flex;
    align-items: center;
    gap: 36.6rem;
  }

  /* Configuração do conteúdo principal */
  main {
   margin-right: 3.4rem;
  }
 
 
  /* Título dos artigos relacionados */
  .container-2 h2 {
   margin-top: 4.4rem;
  }

  /** Configuração do rodapé do blog*/
 footer {
   width: 100%;
   height: 6.4rem;
   bottom: 0;
   position: fixed;
  }

  /* Configuração do grid na página*/
  #app {
    display: grid;
    grid-template-areas: 
    "A A A"
    "B B C"
    "D D D";
  }
 
  #app > * {
    border: 1px solid orangered;
  }
 
  #app header {
    grid-area: A ;
    
  }
 
  #app main {
     grid-area: B;
  }
 
  #app aside {
    grid-area: C;
  }
 
  #app footer {
    grid-area: D;
  }
}  